<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application Details</title>
  <link rel="stylesheet" href="" th:href="@{/hostelallotslip.css}">
</head>
<body>
  <div class="container">
    <h2>Hostel/Room Allot Slip</h2>
    <div class="info">
      <div class="info-row">
        <span class="label">ID:</span>
        <span class="value" id="id" th:text="${id}"></span>
      </div>
      <div class="info-row">
        <span class="label">Name:</span>
        <span class="value" id="name" th:text="${name}"></span>
      </div>
      <div class="info-row">
        <span class="label">Room NO:</span>
        <span class="value" id="subject" th:text="${roomId}"></span>
      </div>
      
      <div class="info-row">
        <span class="label">Hostel No:</span>
        <span class="value" id="complaintDescription" th:text="${hostelId}"></span>
      </div>
      <div class="info-row">
        <span class="label">Date:</span>
        <span class="value" id="date"th:text="${date}" ></span>
      </div>
      
    </div>
  </div>
</body>
</html>
