<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
</head>
<body>
    <h1>Update Student...</h1>
    <h3><small style="color: red;" th:if="${error}" th:text="${error}"></small> <small style="color: green;" th:text="${success}"></small></h3>
    <form action="/deletestudentform" method="DELETE">
        <label for="studentId">Student ID:</label>
        <input type="text" id="studentId" name="studentId" required>
        <button type="submit">Delete Student</button>
    </form>
</body>
</html>